.dl-menuwrapper li.featured-item .adspot-item a {
  padding: 0;
}
.dl-menuwrapper li.featured-item .adspot-item {
  padding: 15px 20px;
}
.dl-menu li.featured-item .ad-image span {
  display: block;
}
.dl-menu li.featured-item .ad-image {
  float: left;
}
#promo-tabs a {
    line-height: 38px;
    margin: 0;
}
#promo-tabs .adspot-link > a {
    margin: 0 12px;
}
#promo-tabs .adspot-item {
    line-height: 38px;
    height: 38px;
    margin: 0 12px;
    position: relative;
    color: #999;
    font-size: 14px;
}
#promo-tabs .adspot-item:hover {
    color: #777; cursor:pointer;
}
#promo-tabs .adspot-item > div,
#promo-tabs .adspot-item > a {
    float:left;
}
.sponsored-hubs {
    background-position: 0;
}
#promo-tabs .promo {
  vertical-align: middle;
  display: inline-block;
}
#promo-tabs .ad-image {
    display: block;
    margin: 0;
    padding-right: 6px;
}
#promo-tabs #led-promo{
  width: 20px;
}
#led-promo {
    width: 20px;
    height: 20px;
    background: url(http://www.instructables.com/files/orig/FI7/ADD1/ITC1CZXI/FI7ADD1ITC1CZXI.png) no-repeat;
    background-size: 100%;
}
#promo-tabs #costumes-promo{
  width: 25px;
}
#costumes-promo {
    width: 25px;
    height: 20px;
    background: url(http://www.instructables.com/files/orig/FP3/9BUK/ITC1CZXG/FP39BUKITC1CZXG.png) no-repeat;
    background-size: 100%;
}
#promo-tabs  #halloween-channel-promo{
  width: 110px;
  height: 20px;
  background-size: 110px;
  position: relative;
}
#halloween-channel-promo {
    width: 110px;
    height: 20px;
    background: url(http://www.instructables.com/files/orig/FB7/5Q3I/IEVUTAWP/FB75Q3IIEVUTAWP.png) no-repeat;
    background-size: 110px;
}
#promo-tabs #intel-promo {
    width: 28px;
    height: 20px;
}
#intel-promo {
    width: 28px;
    height: 20px;
    background: url(http://www.instructables.com/files/orig/FCJ/ZWD6/I8R6DWCO/FCJZWD6I8R6DWCO.png) no-repeat;
    background-size: 100%;
    background-position-y: 50%;
}
#promo-tabs #fusion-promo {
    width: 12px;
}
#fusion-promo {
    width: 12px;
    height: 20px;
    background: url(http://www.instructables.com/files/orig/FWA/Q00B/IO4JHLY7/FWAQ00BIO4JHLY7.png) no-repeat;
    background-size: 100%;
}
#promo-tabs #sewing-promo {
    width: 21px;
}
#sewing-promo {
    width: 21px;
    height: 20px;
    background: url(http://www.instructables.com/files/orig/FG1/YYZ3/IHCDW12S/FG1YYZ3IHCDW12S.png) no-repeat;
    background-size: 100%;
    background-position-y: 50%;
}
#promo-tabs #hydroponics-channel-promo{
  width: 20px;
}
#hydroponics-channel-promo {
    width: 20px;
    height: 20px;
    background: url(http://www.instructables.com/files/orig/FR4/89XK/I6WDPJZV/FR489XKI6WDPJZV.png) no-repeat;
    background-size: 100%;
}
#promo-tabs  #woodworking-channel-promo{
    width: 19px;
}
#woodworking-channel-promo {
    width: 21px;
    height: 20px;
    background: url(http://www.instructables.com/files/orig/FOP/JNXT/I6WDPJZW/FOPJNXTI6WDPJZW.png) no-repeat;
    background-size: 100%;
    background-position-y: 50%;
}
#promo-tabs  #kitchen-promo{
    width: 25px;
}
#kitchen-promo {
    width: 25px;
    height: 20px;
    background: url(http://www.instructables.com/files/orig/FJ8/XHU0/IQLI4CQV/FJ8XHU0IQLI4CQV.png) no-repeat;
    background-size: 100%;
}
#promo-tabs  #icecream-promo{
    width: 15px;
}
#icecream-promo {
    width: 15px;
    height: 20px;
    background: url(http://www.instructables.com/files/orig/FPL/Y5RN/IQLI4CPA/FPLY5RNIQLI4CPA.png) no-repeat;
    background-size: 100%;
}
#promo-tabs  #paper-promo {
    width: 18px;
}
#paper-promo {
    width: 18px;
    height: 20px;
    background: url(http://www.instructables.com/files/orig/F3L/QJAY/IQLI4CUU/F3LQJAYIQLI4CUU.png) no-repeat;
    background-size: 100%;
}
#promo-tabs  #puzzles-promo {
    width: 20px;
}
#puzzles-promo {
    width: 20px;
    height: 20px;
    background: url(http://www.instructables.com/files/orig/F14/NEK9/IQLI4CVM/F14NEK9IQLI4CVM.png) no-repeat;
    background-size: 100%;
}
#promo-tabs  #space-promo {
    width: 20px;
}
#space-promo {
    width: 20px;
    height: 20px;
    background: url(http://www.instructables.com/files/orig/FMD/IYST/IQLI4CVN/FMDIYSTIQLI4CVN.png) no-repeat;
    background-size: 100%;
}
#promo-tabs  #threed-printing-promo {
    width: 20px;
}
#threed-printing-promo {
    width: 20px;
    height: 20px;
    background: url(http://www.instructables.com/files/orig/FPB/7VMN/IQLI4EY2/FPB7VMNIQLI4EY2.png) no-repeat;
    background-size: 100%;
}
#home-explore .adspot-link {
    width: 100%;
    margin-bottom: 10px;
}
.sponsored-hubs .featured-item.btn {
    text-align: center;
}
.ad-image div {
    height: 30px;
    background-repeat: no-repeat;
}
.sponsored-hubs .featured-item.btn .ad-image {
    display: inline-block;
    vertical-align: top;
}
.sponsored-hubs .featured-item.btn .ad-image span {
    display: inline-block;
    margin-right: 5px;
}
div#propricing label {vertical-align:top}
body.home .featured-items li {margin: 0 20px 20px 0}
#home-advertiser-adslot {line-height:0; font-size:0}
#contest-content .contest-prizes ul,
#contest-content .contest-prizes ol,
#contest-content .contest-description ul,
#contest-content .contest-description ol {list-style: disc inside none}
#community-menu .bg-icon.groups {margin-top:0}